{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for task in data %}
    <div class="col">
        <div class="card text-center">
            <div class="card-header btn btn-outline-info">Task ID: {{task.id}}</div>
            <div class="card-body">
              <h5 class="card-title">Task Title: {{task.taskTitle}} </h5>
              <h6 class="card-title">Category: {% for cat in task.taskCategory.all %}
                {{cat.categoryName}},
                {% endfor %} </h6>
                <h6 class="card-title">Task Assign Date: {{task.taskAssignDate}} </h6>
              <p class="card-text">
                {{task.taskDescreption}}
              </p>
              <p>
                {% if task.isCompleted %}
                <a href="#" class="btn btn-primary">Completed</a>
                {% else %}
                <a href="{% url "edittask" task.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url "deletetask" task.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
              </p>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}
